[submodule "easyloggingpp"]
	path = easyloggingpp
	url = https://github.com/muflihun/easyloggingpp
[submodule "PicoSHA2"]
	path = PicoSHA2
	url = https://github.com/okdshin/PicoSHA2
[submodule "RadioHead"]
	path = RadioHead
	url = https://github.com/mattm4300/RadioHead
[submodule "schifra"]
	path = schifra
	url = https://github.com/ArashPartow/schifra
